ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:whitesmoke;
  }
 

  h1{
    text-align: center;
    font-size: 50px;
    color: #111;

  }

  form{
    margin: 20px auto;
    width: 320px;
    color: black;

  }

  input{
    padding: 10px;
    font-size: inherit;
  }
  input[type="text"]{
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid black;
  }

  input[type="textarea"]{
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid black;
  }

  input[type="email"]{
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid black;
  }

  input[type="submit"]{
    width: 344px;
    height: 45px;
    border: none;
    background: black;
    color: white;
  }