{% extends 'blogbase.html' %} 
{% block content %}
<style>
    hr{
        border:10px solid #333;
        border-radius: 5px;
    }
    img{
      height: 250px;
      width: 350px;
    }
</style>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p>Category: <b>{{ post.category}}</b></p>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p><span style="display: inline-block; width: 150px;"></span><img src="{{post.img.url}}" alt=""></p>
        <p class="card-text ">{{ post.content | safe }}</p>
      </div>
    </div>
   

    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        <!-- comments -->
        <h2>{{ comments.count }} comments</h2>

        {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{ comment.name }} 
            <span class=" text-muted font-weight-normal">wrote on
              <b>{{ comment.created_on }}</b>
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Your comment is awaiting moderation
        </div>
        {% else %}
        <h3>Leave a comment :</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}